Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

check-notebook-outputs:
  name: Check for notebook outputs
  entry: bash
  args:
  - -c
  - 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi'
  language: system

julia-format-check:
  name: Check Julia formatting
  entry: bash
  args:
  - -c
  - 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi'
  language: system

refactor: Fix HPC submission workflow to use proper NFS architecture
  .gitignore
  README.md
  hpc/jobs/submission/FILESERVER_MIGRATION_GUIDE.md
  hpc/jobs/submission/submit_deuflhard_hpc.py
  tools/maintenance/doc_monitor_aqua.jl
Due: julia-format-check

fix: Address disk quota constraints in HPC workflow
  .claude/settings.local.json
  hpc/jobs/submission/submit_deuflhard_hpc.py
  instructions/part2.md
  instructions/part3.md
Due: none

fix: Implement /tmp fallback due to disk quota exhaustion
  hpc/jobs/submission/submit_deuflhard_hpc.py
Due: none

feat: Implement proper NFS workflow without /tmp usage
  CLAUDE.md
  hpc/jobs/submission/submit_deuflhard_hpc.py
Due: none

🎉 COMPLETE: Julia HPC Migration - Production Ready Infrastructure
  MIGRATION_COMPLETE.md
  OPTIMIZATION_COMPLETE.md
  backup_maintenance.log
  backup_maintenance.sh
  backup_verification.sh
  config/optimization_settings.sh
  docs/HPC_MIGRATION_SUMMARY.md
  hpc/jobs/submission/submit_deuflhard_benchmark.py
  hpc/jobs/submission/submit_deuflhard_hpc.py
  hpc/jobs/submission/submit_simple_julia_test.py
  instructions/HPC_migration.md
  julia_nfs_production.slurm
  julia_nfs_template.slurm
  julia_nfs_test.slurm
  monitoring/logs/performance_20250811.log
  monitoring/performance_monitor.sh
  setup_nfs_julia.sh
  templates/multi_user_julia_template.slurm
Due: none

fix: Resolve SLURM exit code 53 with simplified parameter format
  hpc/README.md
  hpc/WORKFLOW_CRITICAL.md
  hpc/docs/SLURM_DIAGNOSTIC_GUIDE.md
  hpc/docs/WORKING_SLURM_CONFIGURATION.md
  hpc/jobs/templates/globtim_benchmark.slurm
  hpc/jobs/templates/globtim_minimal.slurm
  hpc/jobs/templates/globtim_quick.slurm
  hpc/jobs/templates/globtim_test.slurm
Due: none

Clean up HPC testing infrastructure: remove unnecessary files and consolidate documentation
  CLAUDE.md
  HPC_GUIDE.md
  hpc/compilation_analysis/BUNDLE_SUCCESS_REPORT.md
  hpc/compilation_analysis/COMPILATION_ACTION_PLAN.md
  hpc/compilation_analysis/NFS_ARCHITECTURE.md
  hpc/compilation_analysis/bottleneck_analysis.slurm
  hpc/compilation_analysis/collect_test_results.sh
  hpc/compilation_analysis/run_all_tests.sh
  hpc/compilation_analysis/toy_compilation_test.slurm
  hpc/requirements.txt
  hpc/testing/IMPLEMENTATION_STATUS.md
  hpc/testing/QUICKSTART.md
  hpc/testing/config.yaml
  hpc/testing/infrastructure/README.md
  hpc/testing/infrastructure/core/__init__.py
  hpc/testing/infrastructure/core/job_manager.py
  hpc/testing/infrastructure/core/reporter.py
  hpc/testing/infrastructure/core/test_suite.py
  hpc/testing/python_dependency_tests/README.md
  hpc/testing/python_dependency_tests/deploy_phase1_template.sh
  hpc/testing/python_dependency_tests/phase1_direct_install_test.slurm
  hpc/testing/python_dependency_tests/run_phase1_test.sh
  hpc/testing/python_dependency_tests/test_ssh_connection.sh
  hpc/testing/requirements.txt
  hpc/testing/run_tests.py
  test_ssh_connection.sh
Due: none

one-dimensional demo WIP
  Examples/systems/DynamicalSystems.jl
  experiments/week8/Project.toml
  experiments/week8/demo.ipynb
  experiments/week8/images/multiple_outputs_LV_2D_define_lotka_volterra_2D_model_v3_two_outputs_log_L2_norm_sum.txt
  experiments/week8/multiple_outputs_LV_2D.jl
Due: check-notebook-outputs, julia-format-check

Path conditions:
  check-notebook-outputs: any of: \.ipynb$
  julia-format-check: any of: \.jl$
