Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

up
  Examples/systems/DynamicalSystems.jl
  experiments/week7/images/2D-walk_along_valley_1_define_lotka_volterra_2D_model_v3_L2_norm.png
  experiments/week7/images/time_2D-v4-no_oscillation-t10_define_lotka_volterra_2D_model_v3_L2_norm.txt
  experiments/week7/images/time_2D-v4-no_oscillation-t1_define_lotka_volterra_2D_model_v3_L2_norm.txt
  experiments/week7/images/time_2D-v4-no_oscillation-t1_define_lotka_volterra_2D_model_v3_log_L2_norm.png
  experiments/week7/images/time_2D-v4-no_oscillation-t1_define_lotka_volterra_2D_model_v3_log_L2_norm.txt
  experiments/week7/images/time_2D-v4-no_oscillation-t2_define_lotka_volterra_2D_model_v3_L2_norm.txt
  experiments/week7/images/valley_walk_along_valley_1_define_lotka_volterra_2D_model_v3_L2_norm.png
  experiments/week7/images/walk_along_valley_1_define_lotka_volterra_2D_model_v3_L2_norm.txt
  experiments/week7/walk_along_valley.jl
  ext/GlobtimGLMakieExt.jl
Due: julia-format-check

add experiments; continue with 4D
  Examples/systems/DynamicalSystems.jl
  Project.toml
  experiments/week7/4D_model.jl
  experiments/week7/images/4D_define_daisy_ex3_model_4D_L2_norm.txt
  experiments/week7/images/sized_markers_percentile_1_define_lotka_volterra_2D_model_v3_log_L2_norm.png
  experiments/week7/images/sized_markers_percentile_1_define_lotka_volterra_2D_model_v3_log_L2_norm.txt
  experiments/week7/images/sized_markers_real_1_define_lotka_volterra_2D_model_v3_log_L2_norm.png
  experiments/week7/images/sized_markers_real_1_define_lotka_volterra_2D_model_v3_log_L2_norm.txt
  experiments/week7/images/time_2D-v4-no_oscillation-t1_define_lotka_volterra_2D_model_v3_log_L2_norm.png
  experiments/week7/images/time_2D-v4-no_oscillation-t1_define_lotka_volterra_2D_model_v3_log_L2_norm.txt
  experiments/week7/time_invariance_LV_2D.jl
  ext/GlobtimGLMakieExt.jl
Due: julia-format-check

docs: Update CLAUDE.md with valley walking design documentation
  CLAUDE.md
Due: none

feat: Add valley walking improvements and 4-panel visualization
  experiments/week7/README_valley_walking.md
  experiments/week7/VISUALIZATION_DOCUMENTATION.md
  experiments/week7/globtim_replacement_guide.md
  experiments/week7/polynomial_degree_optimization.jl
  experiments/week7/polynomial_evaluation.jl
  experiments/week7/test_functions.jl
  experiments/week7/test_gradient_tolerance.jl
  experiments/week7/test_himmelblau_values.jl
  experiments/week7/test_modules.jl
  experiments/week7/test_valley_walking_light.jl
  experiments/week7/test_valley_walking_trigger.jl
  experiments/week7/valley_walking_functions_analysis.md
  experiments/week7/valley_walking_tables.jl
  experiments/week7/valley_walking_utils.jl
  experiments/week7/valley_walking_visualization.jl
  experiments/week7/walk_along_valley_refactored.jl
Due: julia-format-check

feat: Add enhanced valley walking with oscillation prevention and f vs log(f) comparison
  experiments/week7/valley_walking_utils.jl
  experiments/week7/walk_along_valley_refactored.jl
Due: julia-format-check

docs: Add oscillation fix documentation and comparison script
  experiments/week7/OSCILLATION_FIX_SUMMARY.md
  experiments/week7/compare_f_vs_logf.jl
Due: julia-format-check

feat: Implement AdaptivePrecision for extended precision polynomial expansion
  docs/development/extended_precision_implementation_plan.md
  src/Globtim.jl
  src/cheb_pol.jl
  test/demo_adaptive_precision.jl
  test/test_adaptive_precision.jl
  test/test_adaptive_precision_core.jl
Due: julia-format-check

feat: Add comprehensive 4D AdaptivePrecision testing framework
  Examples/Notebooks/Shubert_4d_adaptive_precision.ipynb
  test/adaptive_precision_4d_framework.jl
  test/demo_4d_adaptive_precision.jl
  test/test_extended_precision_benchmarks.jl
  test/test_precision_conversion.jl
Due: check-notebook-outputs, julia-format-check

feat: Add comprehensive 4D AdaptivePrecision development environment
  Examples/Notebooks/AdaptivePrecision_4D_Development.ipynb
  Examples/adaptive_precision_4d_dev.jl
Due: check-notebook-outputs, julia-format-check

feat: Add comprehensive 4D AdaptivePrecision development environment
  test/adaptive_precision_4d_framework.jl
Due: julia-format-check

docs: Add comprehensive AdaptivePrecision documentation to README
  README.md
Due: none

fix: Add dependency installation helpers for development environment
  Examples/install_optional_deps.jl
  Examples/notebook_setup.jl
  test/adaptive_precision_4d_framework.jl
Due: julia-format-check
