Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

chore: pin Julia compat to 1.12 across the monorepo
  Project.toml
Due: none

feat(globtim): add y0j parent→child sample-reuse pure helpers (commit 1 of 3)
  src/Globtim.jl
  src/subdivision_reuse.jl
  test/runtests.jl
  test/test_subdivision_reuse.jl
Due: julia-format-check

chore(globtim): re-format src/ + test/ under JuliaFormatter v1
  src/ApproxPolyEval.jl
  src/DefensiveCSV.jl
  src/EnhancedMetrics.jl
  src/ExperimentCLI.jl
  src/PathManager.jl
  src/PolynomialImports.jl
  src/StandardExperiment.jl
  src/adaptive_subdivision.jl
  src/cheb_pol.jl
  src/function_value_analysis.jl
  src/hessian_analysis.jl
  src/quadrature_weights.jl
  src/refine.jl
  src/scaling_utils.jl
  src/solver_timeout.jl
  src/tree_solve.jl
  src/validation.jl
  test/benchmarks/benchmark_test_functions.jl
  test/benchmarks/sparse_comparison_3d_4d.jl
  test/debugging/adaptive_precision_4d_framework.jl
  test/debugging/precision_handling_tests.jl
  test/sparsification_3d_extensive.jl
  test/sparsification_4d_extensive.jl
  test/test_msolve_integration.jl
  test/test_relative_tolerance.jl
  test/test_sparsification.jl
  test/test_subdivision_reuse.jl
  test/timeout_utils.jl
Due: julia-format-check

fix(globtim): add HomotopyContinuation to test/Project.toml
  test/Project.toml
Due: none

globtim: wire y0j parent→child sample reuse into adaptive refinement (#14)
  src/adaptive_subdivision.jl
  test/runtests.jl
  test/test_y0j_integration.jl
Due: julia-format-check

globtim: checkpoint resume (p7w) + trial-cut reuse (eqk) (#13)
  src/StandardExperiment.jl
  src/adaptive_subdivision.jl
  test/runtests.jl
  test/test_standard_experiment_resume.jl
  test/test_trial_cut_reuse.jl
Due: julia-format-check

fix(globtim): add JLD2 test dep, format #13 merged code
  src/StandardExperiment.jl
  src/adaptive_subdivision.jl
  test/Project.toml
Due: julia-format-check

fix(globtim): activate HC extension in run_experiment.jl + profile deps
  scripts/run_experiment.jl
Due: julia-format-check

fix(globtim): narrow degree_results eltype so create_experiment_summary dispatches
  src/StandardExperiment.jl
Due: julia-format-check

fix(globtim): fail-fast in Constructor on zero-coefficient output (xosc)
  src/Main_Gen.jl
Due: julia-format-check

test(globtim): regression for Constructor zero-polynomial guard (xosc)
  test/runtests.jl
  test/test_zero_polynomial_guard.jl
Due: julia-format-check

feat(subdivision): observability + high-dim strategy refinement
  src/SparsificationExperiment.jl
  src/advanced_l2_analysis.jl
  src/tree_solve.jl
  test/runtests.jl
  test/test_sparsification_cached.jl
  test/test_tree_solve_observability.jl
Due: julia-format-check

feat(sandbox): TOML-drive [subdivision]/[analysis] defaults — svdr
  src/config_loader.jl
Due: julia-format-check

feat(globtim): PRUNE-1 ActionPruned terminal state for all-Inf subdomains
  src/Globtim.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

test(globtim): eval-count regression for adaptive_refine + document l2_tol bump
  test/runtests.jl
  test/test_subdivision_eval_count.jl
Due: julia-format-check

style(globtim): JuliaFormatter sweep on adaptive_subdivision.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

feat(globtim): verbose paths in adaptive_refine + two_phase_refine surface both abs and rel L2 errors (bead 6xvs)
  src/adaptive_subdivision.jl
Due: julia-format-check

style(globtim): unwrap @debug + leaf_error_summary call onto single lines
  src/adaptive_subdivision.jl
Due: julia-format-check

feat(toml-arch): [grid_scoring] + [screening] sections + drivers (0thk + 20p7)
  src/config_loader.jl
  test/runtests.jl
  test/test_toml_grid_scoring_screening.jl
Due: julia-format-check

style(globtim): formatter cleanup on config_loader.jl after 0thk + 20p7
  src/config_loader.jl
Due: julia-format-check

feat(62qv,4xgu): Newton-step-norm validation + refinement-method shootout
  src/config_loader.jl
Due: julia-format-check

feat(dksx.0): per-Chebyshev-mode residual spectrum for subdivision predicate
  src/Globtim.jl
  src/adaptive_subdivision.jl
  src/mode_spectrum.jl
  test/runtests.jl
  test/test_mode_spectrum.jl
Due: julia-format-check

style(dksx.0): collapse compute_subdomain_mode_spectrum! signature per JuliaFormatter
  src/mode_spectrum.jl
Due: julia-format-check

fix(dksx.0c): d_safe handles FP roundoff on n_dim'th root
  src/mode_spectrum.jl
  test/test_mode_spectrum.jl
Due: julia-format-check

feat(dksx.0b): expose shell_decay + window_coverage in mode_spectrum API
  src/mode_spectrum.jl
  test/test_mode_spectrum.jl
Due: julia-format-check

style(dksx.0b): collapse compute_mode_spectrum kwarg signature per JuliaFormatter
  src/mode_spectrum.jl
Due: julia-format-check

feat(ehaj.1): pluggable bump-vs-split predicate + A/B harness
  src/Globtim.jl
  src/adaptive_subdivision.jl
  src/mode_spectrum_predicate.jl
  test/runtests.jl
  test/test_predicate.jl
Due: julia-format-check

style(ehaj.1): JuliaFormatter cleanup on adaptive_subdivision.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

style(ehaj.1): for-in loop conversion in adaptive_subdivision.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

feat(rls.1a): seed pkg/globtim/examples/ with public demos + notebooks + analytical configs
  examples/Notebooks/AdaptivePrecision_4D_Development.ipynb
  examples/Notebooks/Camel_2d.ipynb
  examples/Notebooks/DeJong_msolve.ipynb
  examples/Notebooks/Deuflhard.ipynb
  examples/Notebooks/Deuflhard_msolve.ipynb
  examples/Notebooks/Project.toml
  examples/Notebooks/README.md
  examples/Notebooks/Shubert_4d_adaptive_precision.ipynb
  examples/Notebooks/Trefethen_3D.ipynb
  examples/Notebooks/pos_dim_min.ipynb
  examples/README.md
  examples/anisotropic_grid_demo.jl
  examples/configs/ackley_3d.toml
  examples/configs/deuflhard_2d.toml
  examples/configs/griewank_3d.toml
  examples/configs/levy_3d.toml
  examples/custom_function_demo.jl
  examples/domain_sweep_demo.jl
  examples/high_dimensional_demo.jl
  examples/quick_subdivision_demo.jl
  examples/scalar_function_demo.jl
  examples/sparsification_demo.jl
Due: check-notebook-outputs, julia-format-check

chore(rls.1b): bump Globtim to 1.1.0 + CHANGELOG entry
  CHANGELOG.md
  Project.toml
Due: none

fix(rls.1g): wire test deps for Globtim + Dynamic_objectives Pkg.test runs
  test/Project.toml
Due: none

docs: scrub off-repo references from public-package READMEs/docs
  README.md
  docs/development/WARNING_CATALOG.md
Due: none

chore(rls): license + repo URL consistency for public release
  test/test_subdivision_eval_count.jl
Due: julia-format-check

test(ci): stabilize three pre-existing CI failures on main
  test/test_subdivision_eval_count.jl
Due: julia-format-check

ci(rls): bump test workflows to Julia 1.12 for all four public packages
  .github/workflows/test.yml
Due: none

ci(rls): defer Documentation workflow auto-triggers until registration wave completes
  .github/workflows/documentation.yml
Due: none

ci: defer Documentation auto-triggers until registration wave completes
  .github/workflows/documentation.yml
Due: none
