Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

feat: Update GitLab Issue #27 - Julia Environment Validator completed (Phase 1 now 50% complete)
  CLAUDE.md
Due: none

fix: Update project-task-updater agent to use modern GitLab wrapper
  .claude/agents/project-task-updater.md
Due: none

docs: Add Script Discovery System completion report and update Claude settings
  .claude/settings.local.json
  docs/project-management/SCRIPT_DISCOVERY_SYSTEM_COMPLETION_REPORT.md
Due: none

fix: Add precision parameter to solve_polynomial_system in 4D experiment
  hpc/experiments/4d_parameter_study/lotka_volterra_4d_enhanced.jl
  test/debug_solve_system.jl
  test/precision_handling_tests.jl
  test/run_precision_tests.jl
  test/test_precision_fixes.jl
Due: julia-format-check

feat: Complete Issue #27 - Enhanced Pre-Execution Validation Hook System
  README.md
  docs/hpc/ROBUST_WORKFLOW_GUIDE.md
  docs/hpc/VALIDATION_SYSTEM_USER_GUIDE.md
  tools/hpc/validation/validation_error_reporter.sh
Due: none

feat: Complete Issue #41 - Strategic Hook Integration for HPC Computation Pipeline
  .claude/agents/project-task-updater.md
  .claude/settings.local.json
  .globtim/notebook_setup.jl
  CLAUDE.md
  Project.toml
  docs/development/POLYVAR_IMPORT_SOLUTION.md
  docs/hpc/STRATEGIC_HOOK_INTEGRATION_DOCUMENTATION.md
  hpc/experiments/robust_experiment_runner.sh
  src/Globtim.jl
  src/PolynomialImports.jl
  src/hom_solve.jl
  tools/gitlab/claude-agent-gitlab.sh
  tools/gitlab/gitlab-security-hook.sh
  tools/hpc/hooks/hook_orchestrator.sh
  tools/hpc/hooks/hook_registry.json
  tools/hpc/hooks/lifecycle_manager.sh
  tools/hpc/hooks/recovery/failure_patterns.json
  tools/hpc/hooks/recovery_engine.sh
  tools/hpc/hooks/state/test-experiment-integration_20250905_184703.json
  tools/hpc/hooks/state/test_experiment_001.json
  tools/hpc/validation/git_sync_validator.sh
  tools/hpc/validation/package_validator.jl
  tools/hpc/validation/resource_validator.sh
Due: julia-format-check

feat: Add 4D Lotka-Volterra sparsification accuracy comparison study
  Examples/hpc_4d_sparsification_study.jl
Due: julia-format-check

feat: Add minimal working 4D sparsification study
  Examples/hpc_minimal_sparsification_study.jl
Due: julia-format-check

fix: Resolve variable scope issues in sparsification study
  Examples/hpc_minimal_sparsification_study.jl
Due: julia-format-check

fix: Critical precision parameter fix in sparsification study
  Examples/hpc_4d_sparsification_study.jl
Due: julia-format-check

feat: Complete 4D Lotka-Volterra infrastructure with sparsification study framework
  CLAUDE.md
  Examples/hpc_4d_lotka_volterra_example.jl
  hpc/experiments/4d_parameter_study/lotka_volterra_4d_enhanced.jl
  hpc/experiments/robust_experiment_runner.sh
Due: julia-format-check

feat: Add comprehensive valley walking implementation with momentum acceleration
  CHANGELOG.md
  CLAUDE.md
  Examples/Notebooks/Deuflhard.ipynb
  Examples/Notebooks/README.md
  Examples/Notebooks/ValleyWalking.ipynb
  Examples/momentum_valley_walking.jl
Due: check-notebook-outputs, julia-format-check

fix: Export truncation analysis functions to resolve test failures
  src/Globtim.jl
Due: julia-format-check

feat: Add advanced interactive visualization framework for optimization algorithms
  Examples/advanced_analysis_core_demo.jl
  Examples/advanced_interactive_viz_demo.jl
  src/AlgorithmViz.jl
  src/Globtim.jl
  src/InteractiveViz.jl
  src/InteractiveVizCore.jl
Due: julia-format-check
