Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

check-notebook-outputs:
  name: Check for notebook outputs
  entry: bash
  args:
  - -c
  - 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi'
  language: system

julia-format-check:
  name: Check Julia formatting
  entry: bash
  args:
  - -c
  - 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi'
  language: system

feat: valley walking notebook with Newton Projection and Predictor-Corrector
  Examples/Notebooks/ValleyWalking.ipynb
Due: check-notebook-outputs

build based on eae85ad
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on c37d491
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

chore: clean up internal files for public release
  .gitignore
  Examples/session_tracking_test/toy_experiment.jl
  scripts/dev/activate_local.jl
  scripts/dev/auto-release.jl
  scripts/dev/format-julia.sh
  scripts/dev/hpc-mode.sh
  scripts/dev/julia-project.sh
  scripts/dev/setup-npm-docs.sh
  scripts/experiments/launch_4d_lv_campaign.sh
  scripts/experiments/launch_4dlv_param_recovery.sh
  scripts/experiments/organize_experiments.py
  scripts/experiments/organize_experiments_dry_run.py
  scripts/experiments/test_session_tracking_launcher.sh
  scripts/hpc/activate_hpc.jl
  scripts/hpc/generate_cluster_report.jl
  scripts/setup_results_root.sh
  tools/batch_status.jl
  tools/check_batch_status.jl
  tools/deployment/git_deploy.sh
  tools/deployment/quick_hpc_test.sh
  tools/deployment/upload_to_cluster.sh
  tools/launch_experiments.jl
  tools/launch_helper/ConfigDiscovery.jl
  tools/launch_helper/EnvironmentDetection.jl
  tools/launch_helper/HPCSync.jl
  tools/launch_helper/ProcessVerification.jl
  tools/launch_helper/SSHLauncher.jl
Due: julia-format-check

build based on f969320
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

chore: bump compat for JuliaFormatter, ModelingToolkit, MAT
  Project.toml
Due: none

fix: restore fix_test_manifest.jl for CI workflow
  .gitignore
  scripts/fix_test_manifest.jl
Due: julia-format-check

build based on 686ffcc
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on 8bd0614
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

CompatHelper: bump compat for ModelContextProtocol to 0.4, (keep existing compat)
  Project.toml
Due: none

docs: remove HPC, troubleshooting, and performance tips sections
  docs/TESTING_GUIDELINES.md
  docs/development/PACKAGE_DEPENDENCIES.md
  docs/development/POLYVAR_IMPORT_SOLUTION.md
  docs/hpc/CLUSTER_EXPERIMENT_QUICK_START.md
  docs/hpc/CLUSTER_WORKFLOW.md
  docs/hpc/DEPLOYMENT_QUICK_START.md
  docs/hpc/README.md
  docs/hpc/precision_optimization_guide.md
  docs/make.jl
  docs/src/anisotropic_grids_guide.md
  docs/src/core_algorithm.md
  docs/src/polynomial_approximation.md
  docs/src/precision_parameters.md
  docs/src/solvers.md
  docs/src/test_running_guide.md
  docs/user_guides/anisotropic_lambda_vandermonde.md
Due: julia-format-check

build based on 52518fb
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/objects.inv
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/search_index.js
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

docs: standardize solver descriptions and improve critical point analysis
  docs/README.md
  docs/scripts/generate_illustrations.jl
  docs/src/assets/plots/deuflhard.png
  docs/src/core_algorithm.md
  docs/src/critical_point_analysis.md
  docs/src/index.md
  docs/src/polynomial_approximation.md
  docs/src/solvers.md
Due: julia-format-check

build based on f06ea76
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/assets/plots/deuflhard.png
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/objects.inv
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/search_index.js
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on 4de0278
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

CompatHelper: bump compat for PolyChaos to 1, (keep existing compat)
  Project.toml
Due: none

build based on e48afd2
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

docs: comprehensive documentation overhaul
  docs/README.md
  docs/make.jl
  docs/scripts/generate_illustrations.jl
  docs/src/assets/plots/basis_comparison.png
  docs/src/assets/plots/beale.pdf
  docs/src/assets/plots/beale.png
  docs/src/assets/plots/branin.pdf
  docs/src/assets/plots/branin.png
  docs/src/assets/plots/critical_points_example.pdf
  docs/src/assets/plots/critical_points_example.png
  docs/src/assets/plots/grid_comparison.pdf
  docs/src/assets/plots/grid_comparison.png
  docs/src/assets/plots/hero_pipeline.png
  docs/src/assets/plots/hero_step1_sample.pdf
  docs/src/assets/plots/hero_step2_polynomial.pdf
  docs/src/assets/plots/hero_step3_minima.pdf
  docs/src/assets/plots/holder_table.pdf
  docs/src/assets/plots/holder_table.png
  docs/src/assets/plots/l2_convergence.png
  docs/src/assets/plots/multiscale_function.pdf
  docs/src/assets/plots/multiscale_function.png
  docs/src/core_algorithm.md
  docs/src/critical_point_analysis.md
  docs/src/examples.md
  docs/src/globtimplots.md
  docs/src/index.md
  docs/src/precision_parameters.md
  docs/src/solvers.md
Due: julia-format-check

build based on 79cb3b7
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/assets/plots/basis_comparison.png
  dev/assets/plots/beale.pdf
  dev/assets/plots/beale.png
  dev/assets/plots/branin.pdf
  dev/assets/plots/branin.png
  dev/assets/plots/critical_points_example.pdf
  dev/assets/plots/critical_points_example.png
  dev/assets/plots/grid_comparison.pdf
  dev/assets/plots/grid_comparison.png
  dev/assets/plots/hero_pipeline.png
  dev/assets/plots/hero_step1_sample.pdf
  dev/assets/plots/hero_step2_polynomial.pdf
  dev/assets/plots/hero_step3_minima.pdf
  dev/assets/plots/holder_table.pdf
  dev/assets/plots/holder_table.png
  dev/assets/plots/l2_convergence.png
  dev/assets/plots/multiscale_function.pdf
  dev/assets/plots/multiscale_function.png
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/objects.inv
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/search_index.js
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

docs: switch illustrations from PDF to PNG for web compatibility
  docs/scripts/generate_illustrations.jl
  docs/src/assets/plots/beale.png
  docs/src/assets/plots/branin.png
  docs/src/assets/plots/critical_points_example.png
  docs/src/assets/plots/deuflhard.png
  docs/src/assets/plots/grid_comparison.png
  docs/src/assets/plots/hero_step1_sample.png
  docs/src/assets/plots/hero_step2_polynomial.png
  docs/src/assets/plots/hero_step3_minima.png
  docs/src/assets/plots/holder_table.png
  docs/src/assets/plots/multiscale_function.png
  docs/src/examples.md
  docs/src/index.md
Due: julia-format-check

CompatHelper: bump compat for Optim to 2, (keep existing compat)
  Project.toml
Due: none

build based on 7fd1db6
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

refactor: remove unused extensions, keep only GlobtimCUDAExt
  Project.toml
  ext/GlobtimAnalysisExt.jl
  ext/GlobtimDataExt.jl
  ext/GlobtimDevExt.jl
  src/Globtim.jl
Due: julia-format-check

fix(test): remove references to non-existent test files
  test/runtests.jl
Due: julia-format-check

feat: add missing SubdivisionTree statistics and serialization functions
  src/Globtim.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

fix: pass Lambda.data instead of Lambda NamedTuple to ApproxPoly
  src/Globtim.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

Create issue for circular dependency validation workflow failure
  issues/1.md
Due: none

build based on fc46e4d
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
  stable
  versions.js
Due: none

docs: fix path reference for research directory
  .claude/CLAUDE.md
Due: none

Remove 36 orphaned source files never included by any module
  src/AdaptiveFormatCSV.jl
  src/BatchManifest.jl
  src/ComparisonAnalysis.jl
  src/DaggerWorkerContext.jl
  src/DashboardCore.jl
  src/DataFrameInterface.jl
  src/DataProductionValidator.jl
  src/EnvironmentBridge.jl
  src/ExperimentDataLoader.jl
  src/ExperimentIndex.jl
  src/ExperimentIndexIntegration.jl
  src/FileSelection.jl
  src/HPCValidationIntegration.jl
  src/HistoricalAnalysis.jl
  src/ODEWarningSuppression.jl
  src/ParameterRecoveryAnalysis.jl
  src/PerformanceTracker.jl
  src/PostProcessing.jl
  src/PostProcessingCore.jl
  src/SimpleOutputOrganizer.jl
  src/Structures_backup.jl
  src/TextVisualization.jl
  src/TrendAnalysis.jl
  src/capability_detection.jl
  src/conservative_valley_walking.jl
  src/experiment_runner.jl
  src/migration/AbstractPlottingInterfaces.jl
  src/migration/GlobtimDataAdapters.jl
  src/monomial_vandermonde.jl
  src/quadrature_l2_norm_template.jl
  src/valley_detection.jl
  src/valley_walking.jl
  tools/MCP_MOVED.md
Due: julia-format-check

Consolidate config, validation, and data structure modules in globtim
  src/ConfigValidation.jl
  src/DefensiveCSV.jl
  src/Globtim.jl
  src/PipelineDefenseIntegration.jl
  src/PipelineErrorBoundaries.jl
  src/ValidationBoundaries.jl
  src/config.jl
  src/data_structures.jl
  src/parameter_tracking_config.jl
  src/validation.jl
Due: julia-format-check

Fix globtim test runner: remove 4 references to non-existent test files
  test/runtests.jl
Due: julia-format-check

Deduplicate LevelSetData and VisualizationParameters types
  src/Globtim.jl
Due: julia-format-check

Rename globtimcore references to globtim and fix hardcoded paths
  src/ModelRegistry.jl
  src/PathManager.jl
  src/StandardExperiment.jl
Due: julia-format-check

Clean up tests, deps, and setup infrastructure
  test/Project.toml
  test/post_processing_metrics/README.md
  test/post_processing_metrics/runtests.jl
Due: julia-format-check

Update test workflow to run on github-release branch (#65)
  .github/workflows/test.yml
Due: none

Fix documentation canonical URL to point to stable instead of dev (#63)
  docs/make.jl
Due: julia-format-check

Add raw critical point gradient validation and fix test compatibility
  src/StandardExperiment.jl
Due: julia-format-check

Path conditions:
  check-notebook-outputs: any of: \.ipynb$
  julia-format-check: any of: \.jl$
