Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

check-notebook-outputs:
  name: Check for notebook outputs
  entry: bash
  args:
  - -c
  - 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi'
  language: system

julia-format-check:
  name: Check Julia formatting
  entry: bash
  args:
  - -c
  - 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi'
  language: system

build based on b6bd82b
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
Due: none

ci: fix circular dep check report, add test workflows for postprocessing and plots
  .github/workflows/circular-dependency-check.yml
Due: none

ci: fix dependency report in circular-dependency-check workflow
  .github/workflows/circular-dependency-check.yml
Due: none

build based on bc2895c
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
Due: none

build based on da74cbf
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
Due: none

fix: Deuflhard get_benchmark_config crash — return nothing for non-closed-form global_min_location
  src/LibFunctions.jl
Due: julia-format-check

cleanup: migrate research_registry to beads and fix Deuflhard domain bounds
  src/LibFunctions.jl
Due: julia-format-check

cleanup: delete GlobtimHPC package and remove Opt_Traj_separate_worktree
  docs/development/PACKAGE_DEPENDENCIES.md
Due: none

feat: add top_k pre-filter for Newton CP refinement + fix postprocessing pipeline bugs
  src/config_loader.jl
Due: julia-format-check

feat: function-value acceptance criterion (f_accept_tol) for Newton CP refinement
  src/config_loader.jl
Due: julia-format-check

cleanup: remove stale GitHub infrastructure, dead examples, plotting stubs, .claude cruft
  .github/workflows/CompatHelper.yml
  .github/workflows/README.md
  .github/workflows/TagBot.yml
  .github/workflows/circular-dependency-check.yml
  .github/workflows/documentation.yml
  .github/workflows/fix-manifest.yml
  .github/workflows/release.yml
  .github/workflows/sync-to-github.yml
  .github/workflows/test.yml
  src/Globtim.jl
Due: julia-format-check

feat: valley walking bug fixes, tests, and pipeline integration
  src/config_loader.jl
Due: julia-format-check

cleanup: remove safe_wrappers.jl fallback mechanism
  Examples/Notebooks/OTL_Circuit_Error_Handling_Test.ipynb
  src/Globtim.jl
  src/error_handling.jl
  src/safe_wrappers.jl
  tools/benchmarking/comprehensive_benchmark_framework.jl
Due: check-notebook-outputs, julia-format-check

cleanup: replace bare catch with proper error handling (41 instances)
  .globtim/notebook_setup.jl
  scripts/testing/quick-aqua-check.jl
  scripts/testing/run-aqua-tests.jl
  scripts/testing/setup-aqua-env.jl
  src/EnhancedMetrics.jl
  src/ModelRegistry.jl
  src/PathManager.jl
  src/PolynomialImports.jl
  src/function_value_analysis.jl
  src/refine.jl
  test/debugging/adaptive_precision_4d_framework.jl
  test/debugging/precision_handling_tests.jl
  tools/benchmarking/comprehensive_benchmark_framework.jl
  tools/benchmarking/core_globtim_benchmarking.jl
Due: julia-format-check

cleanup: type ApproxPoly support and degree fields
  src/Globtim.jl
  src/Structures.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

cleanup: remove backward-compat constructors and deduplicate degree normalization
  src/Globtim.jl
  src/OrthogonalInterface.jl
  src/Structures.jl
  src/cheb_pol.jl
  src/hom_solve.jl
  src/lege_pol.jl
Due: julia-format-check

cleanup: extract named constants from magic numbers
  src/error_handling.jl
Due: julia-format-check

cleanup: decompose analyze_critical_points into focused helper functions
  src/refine.jl
Due: julia-format-check

cleanup: remove duplicate exports and dead code in Globtim.jl
  src/Globtim.jl
Due: julia-format-check

fix: replace docstrings on const aliases with comments (Julia cannot document const)
  src/Structures.jl
Due: julia-format-check

cleanup: delete obsolete pipeline tracking code, add paper model catalogue registration
  src/StandardExperiment.jl
Due: julia-format-check

feat: create experiments/paper/ configs + manifest for all paper experiments
  src/config_loader.jl
Due: julia-format-check

feat: wire optional coefficient truncation into standard experiment pipeline
  src/StandardExperiment.jl
  src/config_loader.jl
Due: julia-format-check

✨ feat: add GLMakie extension for GlobTimRL visualization features
  Examples/Project.toml
Due: none

feat: add p_true/p_center config overrides, fix truncation_threshold passthrough, harden Newton refinement against Inf/NaN
  src/ExperimentCLI.jl
  src/config_loader.jl
Due: julia-format-check

feat: add sample_times config for explicit ODE time sampling, reorganize scripts
  src/config_loader.jl
Due: julia-format-check

feat: SciML LV2D benchmark + patch release (Globtim 2.0.1, GlobtimPlots 0.1.1)
  Project.toml
  ext/GlobtimDevExt.jl
  src/ExperimentCLI.jl
  src/Globtim.jl
  src/StandardExperiment.jl
  src/anisotropic_grids.jl
  test/runtests.jl
Due: julia-format-check

chore(globtim): remove 13 unused deps for public release (bead jpff)
  Project.toml
  src/EnhancedMetrics.jl
  src/Globtim.jl
Due: julia-format-check

chore(globtim): remove dead extensions + SAR external code (beads kabm, aeee)
  Project.toml
  ext/GlobtimAnalysisExt.jl
  ext/GlobtimDataExt.jl
  src/Globtim.jl
  src/ModelRegistry.jl
Due: julia-format-check

fix: bump Globtim v2.0.2, GlobtimPostProcessing v0.1.1 + compat bounds to unblock co-author
  Project.toml
  src/StandardExperiment.jl
Due: julia-format-check

feat: Newton-refined recovery checking + cluster readiness fixes
  src/config_loader.jl
Due: julia-format-check

feat(pipeline): cluster robustness — checkpointing, plot script, PROJECT_ROOT fix
  scripts/plot_experiment.jl
  src/StandardExperiment.jl
Due: julia-format-check

chore: remove backward compat shims, stale files, and legacy format support
  src/ErrorCategorization.jl
  src/Globtim.jl
  src/StandardExperiment.jl
  src/Structures.jl
  test/fixtures/batch_fixtures.jl
Due: julia-format-check

Merge PR #5: Slurm fixes + polynomial truncation options (with bug fixes)
  src/ExperimentCLI.jl
  test/test_experiment_cli.jl
Due: julia-format-check

polish lv2d_sciml output; fix config_loader degree cap; extend ParameterRecovery + LV4D data loading
  src/config_loader.jl
Due: julia-format-check

Trust-region Newton + NelderMead refinement, trajectory viz, objective-based diagnostics
  scripts/postprocess_experiment.jl
  src/config_loader.jl
Due: julia-format-check

chore(globtim): set version 1.0.0 for Julia General registry registration
  CHANGELOG.md
  Project.toml
Due: none

Path conditions:
  check-notebook-outputs: any of: \.ipynb$
  julia-format-check: any of: \.jl$
