Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

docs: Add comprehensive precision parameters documentation
  README.md
  docs/README.md
  docs/hpc/precision_optimization_guide.md
  docs/src/api_reference.md
  docs/src/getting_started.md
  docs/src/precision_parameters.md
Due: none

CompatHelper: bump compat for Makie in [weakdeps] to 0.24, (keep existing compat)
  Project.toml
Due: none

CompatHelper: add new compat entry for GLMakie in [weakdeps] at version 0.13, (keep existing compat)
  Project.toml
Due: none

CompatHelper: add new compat entry for Statistics at version 1, (keep existing compat)
  Project.toml
Due: none

CompatHelper: add new compat entry for CairoMakie in [weakdeps] at version 0.15, (keep existing compat)
  Project.toml
Due: none

CompatHelper: add new compat entry for TOML at version 1, (keep existing compat)
  Project.toml
Due: none

v1.1.1: Add comprehensive documentation infrastructure and professional badges
  Project.toml
  README.md
Due: none

build based on 1a20463
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/objects.inv
  dev/polynomial_approximation/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on a97ad68
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/anisotropic_grids_guide/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

Standardize notebook initialization across all Examples/Notebooks
  Examples/Notebooks/AdaptivePrecision_4D_Development.ipynb
  Examples/Notebooks/AnisotropicGridComparison.ipynb
  Examples/Notebooks/Camel_2d.ipynb
  Examples/Notebooks/CrossInTray.ipynb
  Examples/Notebooks/DeJong.ipynb
  Examples/Notebooks/DeJong_msolve.ipynb
  Examples/Notebooks/Deuflhard.ipynb
  Examples/Notebooks/Deuflhard_msolve.ipynb
  Examples/Notebooks/HolderTable.ipynb
  Examples/Notebooks/OTL_Circuit_Error_Handling_Test.ipynb
  Examples/Notebooks/Ratstrigin_3.ipynb
  Examples/Notebooks/Ratstrigin_3_msolve.ipynb
  Examples/Notebooks/Shubert_4d_adaptive_precision.ipynb
  Examples/Notebooks/Shubert_4d_msolve.ipynb
  Examples/Notebooks/Trefethen_3D.ipynb
  Examples/Notebooks/Trefethen_msolve.ipynb
  Examples/Notebooks/Triple_Graph.ipynb
  Examples/Notebooks/Triple_Graph_Gaussians.ipynb
  Examples/Notebooks/Triple_Graph_dejong.ipynb
  Examples/Notebooks/Triple_Graph_deuf_4d.ipynb
  Examples/Notebooks/Triple_Graph_holder.ipynb
  Examples/Notebooks/Triple_Graph_noisy_deufl.ipynb
Due: check-notebook-outputs

feat: Restructure package dependencies with modern weak dependency system
  DEVELOPMENT_GUIDE.md
  PACKAGE_DEPENDENCIES.md
  Project.toml
  README.md
  docs/README.md
  ext/GlobtimAnalysisExt.jl
  ext/GlobtimDataExt.jl
  ext/GlobtimDevExt.jl
  src/Globtim.jl
Due: julia-format-check

refactor: Archive obsolete Examples/ files
  Examples/archive/obsolete_tests_demos_2025_08_21/L2_grid_ideas.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/README.md
  Examples/archive/obsolete_tests_demos_2025_08_21/debug_legendre_issue.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/hpc_no_json3_example.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/install_optional_deps.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/memory_usage_demo.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/minimal_test.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/msolve_integration.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/notebook_fix_test_input.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/notebook_makie_setup.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/parameters_jl_demo.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/test_basis_and_msolve.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/test_coefficient_plots.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/test_formatting_fix.jl
  Examples/archive/obsolete_tests_demos_2025_08_21/test_string_formatting.jl
  Examples/error_handling_demo.jl
Due: julia-format-check

feat: Stabilize HPC deployment with working HomotopyContinuation solution
  .claude/settings.local.json
  CLAUDE.md
  Examples/Notebooks/Camel_2d.ipynb
  HOMOTOPY_SOLUTION_SUMMARY.md
  HPC_BUNDLE_SOLUTIONS.md
  HPC_DEPLOYMENT_GUIDE.md
  PHASE1_IMPLEMENTATION_SUMMARY.md
  README.md
  README_HPC_Bundle.md
  create_fixed_homotopy_bundle.jl
  create_hpc_bundle.sh
  create_optimal_hpc_bundle.sh
  deploy_fixed_homotopy.sh
  deploy_homotopy_to_falcon.sh
  deploy_native_homotopy.slurm
  deploy_to_hpc.sh
  deploy_to_hpc_robust.sh
  docs/features/roadmap.md
  julia_offline_prep_hpc/.gitignore
  julia_offline_prep_hpc/BUNDLE_SUCCESS_AND_CLEANUP.md
  julia_offline_prep_hpc/cleanup_failed_attempts.sh
  julia_offline_prep_hpc/hpc/jobs/submission/test_bundle_final.slurm
  julia_offline_prep_hpc/hpc/jobs/submission/test_home_bundle_compile.slurm
  julia_offline_prep_hpc/setup_offline_depot.jl
  src/enhanced_analysis.jl
  test/Project.toml
  test/runtests.jl
  test/test_dependency_compatibility.jl
  test_final_homotopy.slurm
  test_homotopy_comprehensive.jl
  wiki/Planning/EPICS.md
Due: check-notebook-outputs, julia-format-check

Implement comprehensive secure GitLab configuration system
  .gitignore
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/epic.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/task-migration.md
  docs/project-management/README.md
  docs/project-management/gitlab-issue-structure.md
  docs/project-management/gitlab-migration-plan.md
  docs/project-management/gitlab-quick-reference.md
  docs/project-management/gitlab-workflow-guide.md
  docs/project-management/secure-gitlab-setup-summary.md
  docs/project-management/task-landscape-analysis.md
  scripts/gitlab-explore.sh
  scripts/project-status-report.sh
  tools/gitlab/README.md
  tools/gitlab/SECURITY.md
  tools/gitlab/config.json.template
  tools/gitlab/gitlab-api.sh
  tools/gitlab/gitlab_manager.py
  tools/gitlab/install_hooks.sh
  tools/gitlab/migrate_tasks.sh
  tools/gitlab/secure_config.py
  tools/gitlab/security-report.txt
  tools/gitlab/setup-secure-config.sh
  tools/gitlab/task_extractor.py
  tools/gitlab/task_sync.py
  tools/gitlab/validate-security.sh
Due: none

Implement GitLab project boards documentation and setup tools
  docs/project-management/README.md
  docs/project-management/boards-quick-reference.md
  docs/project-management/gitlab-boards-guide.md
  tools/gitlab/setup-boards.sh
Due: none

feat: Complete Phase 2 HPC infrastructure validation with 624 passing tests
  .claude/agents/hpc-cluster-operator.md
  .claude/agents/julia-documenter-expert.md
  .claude/agents/julia-repo-guardian.md
  .claude/agents/project-task-updater.md
  CLAUDE.md
  HPC_DIRECT_NODE_MIGRATION_PLAN.md
Due: none

fix: Apply UUIDs version constraint fix to local Project.toml
  Project.toml
Due: none
