Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

fix: Add dependency installation helpers for development environment
  Examples/install_optional_deps.jl
  Examples/notebook_setup.jl
  test/adaptive_precision_4d_framework.jl
Due: julia-format-check

feat: Complete comprehensive 4D AdaptivePrecision testing framework
  test/adaptive_precision_4d_framework.jl
Due: julia-format-check

feat: Replace PlotlyJS with CairoMakie for plotting
  Examples/install_optional_deps.jl
  Examples/notebook_makie_setup.jl
  Examples/notebook_setup.jl
  Examples/plotting_utils.jl
  README.md
Due: julia-format-check

dev: Add development files and notebook updates
  .claude/settings.local.json
  Examples/Notebooks/AdaptivePrecision_4D_Development.ipynb
  Examples/Notebooks/Project.toml
  Examples/Notebooks/Trefethen_3D.ipynb
  Examples/notebook_fix_test_input.jl
  Project.toml
  test/Project.toml
  test/debug_adaptive_precision.jl
  test/debug_convert_value.jl
  test/force_reload_test.jl
  test/step_by_step_debug.jl
  test/test_adaptive_precision_minimal.jl
  test/test_adaptive_precision_runner.jl
Due: check-notebook-outputs, julia-format-check

Work in progress: multiple outputs
  Examples/systems/DynamicalSystems.jl
  experiments/week7/4D_model.jl
  experiments/week7/images/4D_define_daisy_ex3_model_4D_L2_norm.txt
  experiments/week7/images/Untitled-1.jl
  experiments/week7/images/multiple_outputs_LV_2D_define_lotka_volterra_2D_model_v3_two_outputs_log_L2_norm_sum.txt
  experiments/week7/multiple_outputs_LV_2D.jl
  ext/GlobtimGLMakieExt.jl
  src/scaling_utils.jl
Due: julia-format-check

Add comprehensive project management system
  FEATURE_ROADMAP.md
  PROJECT_MANAGEMENT_QUICK_REFERENCE.md
  PROJECT_MANAGEMENT_USER_GUIDE.md
  PROJECT_STATUS_ANALYSIS.md
  TASK_UPDATE_WORKFLOW.md
  scripts/epic-progress.sh
  scripts/project-dashboard.sh
  scripts/project-status-report.sh
  wiki/Planning/EPICS.md
  wiki/Planning/SPRINTS.md
Due: none

CompatHelper: bump compat for DataStructures to 0.19, (keep existing compat)
  Project.toml
Due: none

feat: Add comprehensive benchmark functions from Jamil & Yang 2013 survey
  bib/Survey_Benchmark_Global.pdf
  docs/BENCHMARK_FUNCTIONS_SUMMARY.md
  src/BenchmarkFunctions.jl
  src/Globtim.jl
  src/LibFunctions.jl
  test/test_benchmark_functions.jl
Due: julia-format-check

docs: Remove repetition from README.md
  README.md
Due: none

docs: Remove redundant plotting reference from README
  README.md
Due: none

wip: several outputs
  Examples/systems/DynamicalSystems.jl
  experiments/week7/images/multiple_outputs_LV_2D_define_lotka_volterra_2D_model_v3_two_outputs_log_L2_norm_sum.txt
  ext/GlobtimGLMakieExt.jl
Due: julia-format-check

feat: Implement universal notebook setup system for local/HPC environments
  .globtim/HPC_NOTEBOOK_STRATEGY.md
  .globtim/NOTEBOOK_TEMPLATE.md
  .globtim/notebook_setup.jl
  .globtim/update_all_notebooks.jl
  .globtim/validate_notebook_setup.jl
  ENVIRONMENT_SETUP.md
  Examples/Notebooks/Deuflhard.ipynb
  NOTEBOOK_SETUP_COMPLETE.md
  NOTEBOOK_WORKFLOW.md
  environments/hpc/Project.toml
  environments/local/Project.toml
  scripts/activate_hpc.jl
  scripts/activate_local.jl
  scripts/hpc-mode.sh
Due: check-notebook-outputs, julia-format-check
