Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

BREAKTHROUGH: Fix critical GN parameter memory bug - Success rate 11.8% → 100%
  Examples/enhanced_4d_performance_tracking.jl
  GN_12_VALIDATION_REPORT.md
  Project.toml
  docs/bugfixes/GN_PARAMETER_MEMORY_FIX_SEPT_2025.md
Due: julia-format-check

CRITICAL FIX: Resolve Issue #42 - Package Loading Failures (88.2% → 20% failure rate expected)
  Project.toml
  ext/GlobtimDataExt.jl
  src/Globtim.jl
Due: julia-format-check

Fix CSV package compatibility: Remove version constraint & resolve HPC sync issues
  CLAUDE.md
  Project.toml
Due: none

fix: Update Julia compatibility to support 1.10 and 1.11
  Project.toml
Due: none

feat: Implement cross-environment package management strategy
  CLAUDE.md
  docs/hpc/CROSS_ENVIRONMENT_PACKAGE_MANAGEMENT.md
Due: none

feat: Implement automated package loading failure detection and resolution system
  docs/hpc/CROSS_ENVIRONMENT_PACKAGE_MANAGEMENT.md
  tools/hpc/hooks/hook_orchestrator.sh
  tools/hpc/hooks/package_loading_detector.sh
Due: none

FINAL VALIDATION: HPC Package Testing Success - 100% Operational Infrastructure
  CLAUDE.md
  tools/hpc/validation/package_validator.jl
Due: julia-format-check

FIX: Correct 4D experiment parameters - resolve severely underdetermined systems
  4D_PARAMETER_FIX_SUMMARY.md
  hpc/experiments/robust_experiment_runner.sh
Due: none

CRITICAL FIX: Resolve GN parameter interpretation bug in 4D experiments
  hpc/experiments/run_4d_experiment.jl
Due: julia-format-check

VALIDATION: Confirm 4D parameter fix success - 100% success rate achieved
  validation_summary_4d_success.md
Due: none

docs: Clean up HPC infrastructure documentation
  docs/archive/legacy_hpc_2025_09_10/FALCON_USAGE_GUIDE.md
  docs/archive/legacy_hpc_2025_09_10/HPC_BUNDLE_SOLUTIONS.md
  docs/archive/legacy_hpc_2025_09_10/HPC_DEPLOYMENT_GUIDE.md
  docs/archive/legacy_hpc_2025_09_10/HPC_PACKAGE_BUNDLING_STRATEGY.md
  docs/archive/legacy_hpc_2025_09_10/README.md
  docs/archive/legacy_hpc_2025_09_10/README_HPC_Bundle.md
  docs/archive/legacy_hpc_2025_09_10/SLURM_WORKFLOW_GUIDE.md
  docs/hpc/README.md
  docs/hpc/SLURM_ARCHIVE_NOTICE.md
Due: none

fix: Resolve GitLab API JSON construction errors in claude-agent-gitlab.sh
  tools/gitlab/claude-agent-gitlab.sh
Due: none

feat: Comprehensive plotting package separation plan and notebook fixes
  .cache/dependency_health/csv_health.json
  .cache/dependency_health/globtim_extensions_health.json
  .cache/dependency_health/json3_health.json
  .cache/dependency_health/package_env_consistency.json
  .cache/dependency_health/repair_attempt.json
  .claude/settings.local.json
  .globtim/notebook_setup.jl
  CLAUDE.md
  CLUSTER_COMPUTATION_REPORT.md
  Examples/Notebooks/CrossInTray.ipynb
  GITLAB_INFRASTRUCTURE_REPLICATION_GUIDE.md
  ISSUE_55_VALIDATION_REPORT.md
  ISSUE_86_ROBUSTNESS_PATTERNS_RESEARCH.md
  Makefile
  Project.toml
  ROBUSTNESS_PATTERNS_IMPLEMENTATION_SUMMARY.md
  cluster_report_4d_results_2025-09-09T16:45:59.233.md
  docs/project-management/issue-templates/issue-89-automated-environment-sync.md
  docs/project-management/issue-templates/issue-90-notebook-validation-pipeline.md
  docs/project-management/issue-templates/issue-94-smart-notebook-setup.md
  environments/local/Project.toml
  generate_cluster_report.jl
  scripts/README.md
  scripts/cluster-report
  scripts/cluster_report_generator.jl
  scripts/quick_summary.sh
  tests/monitoring/README.md
  tests/monitoring/runtests.jl
  tests/monitoring/utils.jl
  tools/hpc/hooks/dependency_health_monitor.sh
  tools/hpc/hooks/logs/dependency_health_report_20250909_114208.json
  tools/hpc/hooks/logs/dependency_health_report_20250909_115527.json
  tools/hpc/hooks/logs/dependency_health_report_20250909_160830.json
  tools/hpc/hooks/logs/dependency_health_report_20250909_161207.json
  tools/hpc/hooks/logs/dependency_health_report_20250909_161426.json
Due: check-notebook-outputs, julia-format-check

feat: Complete plotting migration toolkit for GlobtimPlots.jl separation
  .claude/settings.local.json
  docs/migration/MIGRATION_CHECKLIST.md
  docs/migration/PLOTTING_API_INVENTORY.md
  docs/migration/QUICK_REFERENCE.md
  docs/migration/README.md
  src/migration/AbstractPlottingInterfaces.jl
  src/migration/GlobtimDataAdapters.jl
Due: julia-format-check
