Repository gescholt/Globtim.jl: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebook-outputs, julia-format-check

.pre-commit-config.yaml:

repos:
  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Custom hook to check for dev-only patterns
  - repo: local
    hooks:
      - id: check-dev-patterns
        name: Check for development-only patterns
        entry: bash
        args: ['-c', 'if grep -r -E "(PRIVATE|DEV.?ONLY|EXPERIMENTAL|TODO.?REMOVE)" --include="*.jl" --include="*.md" . 2>/dev/null; then echo "Found dev-only patterns!"; exit 1; fi']
        language: system
        pass_filenames: false

      - id: check-notebook-outputs
        name: Check for notebook outputs
        entry: bash
        args: ['-c', 'if find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" -exec grep -l "\"outputs\":[[:space:]]*\\[" {} \\; | head -n 1 | read f; then echo "Notebook has outputs: $f"; exit 1; fi']
        language: system
        types: [jupyter]

      - id: check-file-patterns
        name: Check for private file patterns
        entry: bash
        args: ['-c', 'files=$(find . -type f \( -name "*private*" -o -name "*scratch*" -o -name "*dev-only*" -o -name "*experimental*" \) -not -path "./.git/*" | head -n 5); if [ -n "$files" ]; then echo "Found private files:"; echo "$files"; exit 1; fi']
        language: system
        pass_filenames: false

  # Julia specific checks
  - repo: local
    hooks:
      - id: julia-format-check
        name: Check Julia formatting
        entry: bash
        args: ['-c', 'if command -v julia &> /dev/null && julia -e "using Pkg; \"JuliaFormatter\" in keys(Pkg.project().dependencies)" 2>/dev/null; then julia -e "using JuliaFormatter; exit(format(\".\", verbose=true) ? 0 : 1)"; else exit 0; fi']
        language: system
        files: '\.jl$'

build based on 6f4f008
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on 9210b9d
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

Add Newton CP refinement, capture analysis plots, and extracted reporting functions
  src/LibFunctions.jl
Due: julia-format-check

Fix L2 norm computation, clean up sparsification dead code, add sparsification comparison to demo
  src/advanced_l2_analysis.jl
  src/config.jl
  test/SPARSIFICATION_TESTING.md
Due: julia-format-check

Refactor demo pipeline into reusable library + make experiment outputs self-describing
  Examples/hierarchical_experiment_example.jl
  Examples/standardized_experiment_template.jl
  src/StandardExperiment.jl
  test/error_context_integration.jl
Due: julia-format-check

Extract sparsification into library + AD cleanup (closes qyq, dls)
  src/Globtim.jl
  src/LibFunctions.jl
  src/SparsificationExperiment.jl
  src/StandardExperiment.jl
Due: julia-format-check

Implement adaptive ODE tolerances and solver selection (p5j, h78)
  Examples/Project.toml
  Examples/profile_deuflhard4d_subdivision.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

refactor: change aggregate_distances default from first to sum (bead pam)
  Examples/profile_deuflhard4d_subdivision.jl
Due: julia-format-check

refactor: Phase 1+2 — screening structs and naming standardization
  src/config.jl
  test/fixtures/lv4d_experiment_example.json
  test/fixtures/lv4d_experiment_example.toml
  test/fixtures/lv4d_explicit_bounds_example.toml
Due: julia-format-check

refactor: Phase 3 — domain_bounds/initial_bounds -> bounds in globtim core
  Examples/hierarchical_experiment_example.jl
  Examples/standardized_experiment_template.jl
  src/SparsificationExperiment.jl
  src/StandardExperiment.jl
  src/adaptive_subdivision.jl
  test/error_context_integration.jl
Due: julia-format-check

feat: wire TolerantObjective into standard pipeline (bead p5j)
  src/StandardExperiment.jl
  src/Structures.jl
Due: julia-format-check

fix(plots): Bead x6z — rank-based x-axis, RGBAf color palette, mothball Panel 2
  test/test_aqua.jl
  test/test_sparsification.jl
  test/test_truncation.jl
Due: julia-format-check

cleanup: remove dead code, extract shared utils, update Opt_Traj demo (beads 24d, 7p0, 3fp)
  src/Globtim.jl
  src/config.jl
  test/fixtures/lv4d_experiment_example.toml
Due: julia-format-check

feat: implement 4 quick-win beads (jnx, q7b, 6ma, az9)
  scripts/analysis/visualize_cluster_results.jl
  src/adaptive_subdivision.jl
Due: julia-format-check

feat: TOML experiment pipeline — config loader, orchestrator, CLI --config flag (bead 70e)
  src/ExperimentCLI.jl
  src/Globtim.jl
  src/config_loader.jl
Due: julia-format-check

feat: FitzHugh-Nagumo 3D screening + AutoTsit5 solver + numpoints override (bead 70e)
  src/config_loader.jl
Due: julia-format-check

feat: analytical benchmark pipeline + registry fixes
  Examples/Notebooks/Ratstrigin_3.ipynb
  Examples/Notebooks/Ratstrigin_3_msolve.ipynb
  Examples/high_dimensional_demo.jl
  docs/src/api_reference.md
  docs/src/getting_started.md
  src/BenchmarkFunctions.jl
  src/Globtim.jl
  src/LibFunctions.jl
  src/ModelRegistry.jl
  src/config_loader.jl
  tools/validation/validate_infrastructure.sh
Due: check-notebook-outputs, julia-format-check

feat: streamline experiment pipeline — generic CLI, standalone post-processing (bead gwo)
  data/config.toml
  src/Globtim.jl
  src/config.jl
  test/fixtures/lv4d_experiment_example.toml
  test/fixtures/lv4d_explicit_bounds_example.toml
  tools/validate_config.jl
Due: julia-format-check

fix: resolve NamedTuple precompilation error — remove Union types from FunctionRegistryEntry
  src/LibFunctions.jl
Due: julia-format-check

fix: review fixes — Julia 1.12 Project.toml compat, dead code removal, error handling
  src/config.jl
Due: julia-format-check

cleanup: remove stale docs, dead scripts, and restore notebook setup
  .globtim/notebook_setup.jl
  tools/validation/validate_parameters_jl.sh
Due: julia-format-check

fix: resolve TOML config relative paths via PathManager
  src/config_loader.jl
Due: julia-format-check

chore: remove 8 unused deps (~300-500 transitive deps eliminated)
  .claude/CLAUDE.md
  Project.toml
Due: none

docs: add cross-package links to GlobtimPostProcessing and GlobtimPlots
  docs/src/api_reference.md
  docs/src/critical_point_analysis.md
  docs/src/examples.md
  docs/src/getting_started.md
  docs/src/globtimplots.md
  docs/src/index.md
  docs/src/visualization.md
Due: none

build based on e9f2fdd
  dev/.documenter-siteinfo.json
  dev/anisotropic_grid_tests/index.html
  dev/api_reference/index.html
  dev/core_algorithm/index.html
  dev/critical_point_analysis/index.html
  dev/exact_conversion/index.html
  dev/examples/index.html
  dev/getting_started/index.html
  dev/globtimplots/index.html
  dev/grid_formats/index.html
  dev/index.html
  dev/objects.inv
  dev/polynomial_approximation/index.html
  dev/precision_parameters/index.html
  dev/search_index.js
  dev/solvers/index.html
  dev/sparsification/index.html
  dev/test_documentation/index.html
  dev/test_running_guide/index.html
  dev/visualization/index.html
Due: none

build based on e9f2fdd
  v2.0.0/.documenter-siteinfo.json
  v2.0.0/anisotropic_grid_tests/index.html
  v2.0.0/anisotropic_grids_guide/index.html
  v2.0.0/api_reference/index.html
  v2.0.0/assets/plots/beale.pdf
  v2.0.0/assets/plots/branin.pdf
  v2.0.0/assets/plots/critical_points_example.pdf
  v2.0.0/assets/plots/deuflhard.png
  v2.0.0/assets/plots/grid_comparison.pdf
  v2.0.0/assets/plots/hero_step1_sample.pdf
  v2.0.0/assets/plots/hero_step2_polynomial.pdf
  v2.0.0/assets/plots/hero_step3_minima.pdf
  v2.0.0/assets/plots/holder_table.pdf
  v2.0.0/assets/plots/multiscale_function.pdf
  v2.0.0/core_algorithm/index.html
  v2.0.0/critical_point_analysis/index.html
  v2.0.0/exact_conversion/index.html
  v2.0.0/examples/index.html
  v2.0.0/getting_started/index.html
  v2.0.0/globtimplots/index.html
  v2.0.0/grid_formats/index.html
  v2.0.0/index.html
  v2.0.0/objects.inv
  v2.0.0/polynomial_approximation/index.html
  v2.0.0/precision_parameters/index.html
  v2.0.0/search_index.js
  v2.0.0/solvers/index.html
  v2.0.0/sparsification/index.html
  v2.0.0/test_documentation/index.html
  v2.0.0/test_running_guide/index.html
  v2.0.0/visualization/index.html
Due: none

chore: remove private infrastructure files from public repo
  .gitallowed
  .gitlab-ci.yml
  .gitlab-ci.yml.npm-example
  .gitlab_agent_config
  push.sh
Due: none

build based on b6bd82b
  v2.0.0/.documenter-siteinfo.json
  v2.0.0/anisotropic_grid_tests/index.html
  v2.0.0/api_reference/index.html
  v2.0.0/core_algorithm/index.html
  v2.0.0/critical_point_analysis/index.html
  v2.0.0/exact_conversion/index.html
  v2.0.0/examples/index.html
  v2.0.0/getting_started/index.html
  v2.0.0/globtimplots/index.html
  v2.0.0/grid_formats/index.html
  v2.0.0/index.html
  v2.0.0/polynomial_approximation/index.html
  v2.0.0/precision_parameters/index.html
  v2.0.0/solvers/index.html
  v2.0.0/sparsification/index.html
  v2.0.0/test_documentation/index.html
  v2.0.0/test_running_guide/index.html
Due: none
